source/video/*.mp4
*.tmp.mp4
tmp-*.png
.DS_Store
Thumbs.db
.local/
ue/**/.vs/
ue/**/Binaries/
ue/**/Build/
ue/**/DerivedDataCache/
ue/**/Intermediate/
ue/**/Saved/
ue/Builds/
ue/**/*.sln
ue/**/.vsconfig
